
<!--choose us hero-->
<section id="attributes" class="attributes pb-1 choose-us-hero">
    <div class="container">
        <div class="section-title text-center">
            <h2 class="blur-text">Why so many choose us?</h2>
        </div>
        <div class="row">
            <!--Row 1-->
            <div class="col-lg-4 text-center">
                <img src="../static/images/trained.svg" class="rounded-circle choose-us" width="200" height="180"
                    alt="" />

                <h2 class="fw-normal text-white">Trained Staff</h2>
                <p class="text-white">
                    Our staff are well trained, qualified and experienced in the
                    relevant fields that our clients require.
                </p>
            </div>

            <!-- Row 2-->
            <div class="col-lg-4 text-center">
                <img src="../static/images/personalised.svg" class="rounded-circle choose-us" width="200" height="180"
                    alt="" />

                <h2 class="fw-normal text-white">Personalised Care</h2>
                <p class="text-white">
                    We not only provide domiciliary staff, we provide bespoke care
                    plans to meet the unique needs of our clients.
                </p>
            </div>
            <!-- Row 3-->
            <div class="col-lg-4 text-center">
                <img src="../static/images/staff3.svg" class="rounded-circle choose-us" width="200" height="180"
                    alt="" />
                <h2 class="fw-normal text-white">On Call Service</h2>
                <p class="text-white">
                    Our coordination team are available anytime of the day or night to
                    provide support, even at weekends.
                </p>
            </div>
            <!-- /.col-lg-4 -->
        </div>
    </div>
</section>


<!--Contact Info divider-->
<div class="col-lg-12 col-md-12 text-center contact-us-div py-0 call-to-action">
    <div class="d-flex flex-column flex-md-row justify-content-md-between align-items-center py-3 p-5">
        <div class="text-center text-md-start mb-3 mb-md-0 ">
            <h3 class="text-white blur-text contact-us-text">Speak To Our Team Today!</h3>

        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-center  contact-buttons mb-4 mb-lg-3">
            <!-- TODO: Add phone number and Email-->

            <!--Todo Chane Number and Email-->
            <a class="btn  d-inline-flex align-items-center me-2 contact-btns" href="tel:+447478881797">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-telephone-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z" />
                </svg> Call
            </a>
            <a class="btn  d-inline-flex align-items-center me-2 contact-btns" href="mailto:tanaka.mush@gmail.com">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-envelope-fill" viewBox="0 0 16 16">
                    <path
                        d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414zM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586zm3.436-.586L16 11.801V4.697z" />
                </svg>
                Email
            </a>
            <a class="btn  d-inline-flex align-items-center contact-btns" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-journal-richtext" viewBox="0 0 16 16">
                    <path
                        d="M7.5 3.75a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0m-.861 1.542 1.33.886 1.854-1.855a.25.25 0 0 1 .289-.047L11 4.75V7a.5.5 0 0 1-.5.5h-5A.5.5 0 0 1 5 7v-.5s1.54-1.274 1.639-1.208M5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5" />
                    <path
                        d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2" />
                    <path
                        d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1z" />
                </svg>
                Brochure
            </a>
        </div>
    </div>
</div>

<!-- /END THE FEATURETTES -->





