{% extends "base.html" %} {% block content %}

<body class="landing is-preload">
  <div id="page-wrapper">

<section id="about-us-slideshow" class="container-fluid d-block d-lg-none">
  <div class="container-fluid">
    <div class="row align-items-center service-inner-hero" style="background-color: #365486;">
      <!--Text-->
      <div class="col-lg-4 col-md-6 text-center  py-0 service-text-div">
        <h1 class="display-4 fw-bold lh-1 text-white blur-text">Parherssia Care</h1>
        <p class="lead text-white blur-text-p">Some amazing SLogah for your company here</p>
        <div class="d-grid gap-2 d-md-flex justify-content-center  mb-4 mb-lg-3">
          <a href="{{ url_for('contact_us') }}"
            class="btn btn-light btn-lg px-4 me-md-2 fw-bold servies-hero-btn">Contact
            Us</a>
          <a href="{{ url_for('get_jobs') }}" class="btn btn-outline-light btn-lg px-4 servies-hero-btn">Join Us</a>
        </div>
      </div>
      <div class="col-lg-8 col-md-6 p-0 pt-1 overflow-hidden services-hero-img">
        <img src="/static/images/male-social-worker-taking-care-old-woman.jpg" alt="" class="img-fluid">
      </div>
    </div>
  </div>



</section>

    <!-- Banner -->
    <section id="banner" class="d-none d-lg-block">
      <h2 id="Parherssia">Parherssia Care</h2>

      <ul class="actions special">
        <li>
          <a href="{{url_for('contact_us')}}" class="button primary top-contact-us">Contact Us</a>
        </li>
        <li>
          <a href="{{url_for('get_jobs')}}" id="top-callback" class="button top-callback">Join Us</a>
        </li>
      </ul>
    </section>

    <!-- Main -->
    <section id="main" class="container d-none d-lg-block">
      <section class="box special top-hero">
        <header class="major">
          <h2>
            Some Exciting Intro For Your Company
            <br />
            Some interesting hook here
          </h2>
          <p>
            More about this amazing company<br />
            Tell us a bit more in a simple and short sentence
          </p>
        </header>
        <span class="image featured"><img src="images/pic01.jpg" alt="" /></span>
      </section>
      <!--Features
			<section class="box special features">
				<div class="features-row">
					<section>
						<span class="icon solid major fa-bolt accent2"></span>
						<h3>Magna etiam</h3>
						<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim
							rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
					</section>
					<section>
						<span class="icon solid major fa-chart-area accent3"></span>
						<h3>Ipsum dolor</h3>
						<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim
							rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
					</section>
				</div>
				<div class="features-row">
					<section>
						<span class="icon solid major fa-cloud accent4"></span>
						<h3>Sed feugiat</h3>
						<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim
							rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
					</section>
					<section>
						<span class="icon solid major fa-lock accent5"></span>
						<h3>Enim phasellus</h3>
						<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim
							rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
					</section>
				</div>
			</section>
			-->

      <!--Bottom Row-->
      <!--
			<div class="row">
				<div class="col-6 col-12-narrower">

					<section class="box special">
						<span class="image featured"><img src="images/pic02.jpg" alt="" /></span>
						<h3>Sed lorem adipiscing</h3>
						<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim
							rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
						<ul class="actions special">
							<li><a href="#" class="button alt">Learn More</a></li>
						</ul>
					</section>

				</div>
				<div class="col-6 col-12-narrower">

					<section class="box special">
						<span class="image featured"><img src="images/pic03.jpg" alt="" /></span>
						<h3>Accumsan integer</h3>
						<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim
							rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
						<ul class="actions special">
							<li><a href="#" class="button alt">Learn More</a></li>
						</ul>
					</section>

				</div>
			</div>
			-->
    </section>


<section id="features-about-us" class="container-fluid mt-0 ">
  <!-- START THE FEATURETTES -->
        <div class="section-title text-center">
          <h2 class="blur-text">Our Services</h2>
          <p class="blur-text-p">Click on any of the services to read more about our wide variety of services
          </p>
        </div>





{% include 'base-other-services.html' %}

</section>


    <!--Services-->
<section id="services" class="services pb-4">
  <div class="container-fluid">



    <div class="row gy-5 ">
      <div class="col-lg-2">
        <ul class="nav nav-tabs flex-column" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link no smooth-scroll active" data-bs-toggle="tab" href="#personal-care" aria-selected="true"
              role="tab">Personal Care</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link no smooth-scroll" data-bs-toggle="tab" href="#live-in-care" aria-selected="false"
              role="tab" tabindex="-1">Live in Care</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link no smooth-scroll" data-bs-toggle="tab" href="#respite-care" aria-selected="false"
              role="tab" tabindex="-1">Respite to Care</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link no smooth-scroll" data-bs-toggle="tab" href="#practical-support" aria-selected="false"
              role="tab" tabindex="-1">Practical Support</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link no smooth-scroll" data-bs-toggle="tab" href="#palliative-care" aria-selected="false"
              role="tab" tabindex="-1">Complex Care</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link no smooth-scroll" data-bs-toggle="tab" href="#specialist-care" aria-selected="false"
              role="tab" tabindex="-1">Palliative Care</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-10">
        <div class="tab-content">
          <!--Personal Care -->
          <div class="tab-pane active show" id="personal-care" role="tabpanel">
            <div class="row gy-4">
              <div class="col-lg-8 details">
                <h3>Personal Care</h3>
                <p class="fst-italic">
                  Our professional staff offer a range of personal care
                  services, upholding dignity and respect for our clients.
                  These services include:
                </p>
                <ul>
                  <li>
                    Regulated personal care activities, ensuring
                    registration, inspection, and rating compliance.
                  </li>
                  <li>
                    Comprehensive personal hygiene support, including
                    washing, bathing, and continence care.
                  </li>
                  <li>
                    Assistance with dressing, from full support to help with
                    specific items like socks or surgical stockings.
                  </li>
                </ul>
               
                <p></p>
                <ul class="actions special">
                  <li><a href="/personal-care" class="button alt">Read More</a></li>
                </ul>

              </div>
              <div class="col-lg-4 text-center" style="padding-left: 10px; padding-right: 10px">
              </div>
            </div>
          </div>

          <!-- Live in Care -->
          <div class="tab-pane" id="live-in-care" role="tabpanel">
            <div class="row gy-4">
              <div class="col-lg-8 details">
                <h3>Live-in Care</h3>
                <p class="fst-italic">
                  Our live-in care services are custom-tailored to each
                  client's needs, delivered by passionate, well-trained
                  staff ensuring independence and enjoyment at home. Key
                  features include:
                </p>
                <ul>
                  <li>
                    Personalized care plans based on in-person assessments, Person-centred support, with regular care reviews for service quality and client
                    needs.
                  </li>

                  <li>Family involvement and updates.</li>

                  <li>
                    Support for appointments, mobility, and specialist needs
                    like dementia care.
                  </li>
                  <li>
                    Thoroughly vetted, English-speaking carers with ongoing
                    training and CQC compliance.
                  </li>
                  <li>Expert post-hospital care.</li>
                </ul>
                <ul class="actions special">
                  <li><a href="/live-in" class="button alt">Read More</a></li>
                </ul>
              </div>
              <div class="col-lg-4 text-center">
                
              </div>
            </div>
          </div>
          <!-- Respite to Care -->
          <div class="tab-pane" id="respite-care" role="tabpanel">
            <div class="row gy-4">
              <div class="col-lg-8 details">
                <h3>Respite-to-Care</h3>
                <p>
                  Respite care provides a short-term break, typically one to
                  two weeks, with care from a professional different from
                  your usual provider. These breaks, which can be planned or
                  unplanned, are available in your own home. Our team of
                  dedicated carers, trained to the highest standards, are
                  ready to support your loved one, ensuring they receive the
                  necessary care even when you're not available. As we are
                  regulated by the
                  <a href="https://www.cqc.org.uk/provider/1-9544976230">Care Quality Commission (CQC)</a>, you can
                  be confident in the safety and quality of our
                  care. Our respite services cover a range of needs, from
                  care for disabled individuals to companionship and
                  condition-specific support. We offer guidance and
                  assistance throughout the process of arranging respite
                  care, ensuring a smooth and beneficial experience for all
                  involved.
                </p>
                <ul class="actions special">
                  <li><a href="/respite" class="button alt">Read More</a></li>
                </ul>
              </div>
              <div class="col-lg-4 text-center">

              </div>
            </div>
          </div>
          <!-- Practical Support-->
          <div class="tab-pane" id="practical-support" role="tabpanel">
            <div class="row gy-4">
              <div class="col-lg-8 details">
                <h3>Practical Support</h3>
                <p>
                  At Parherssia Care, we provide a wide range of practical
                  help and support to people in the community who, due to
                  extreme frailty, disability, or illness, require
                  assistance in their own homes. Our support enables our
                  service users to remain in their homes, close to their
                  loved ones and local community. While in their homes, our
                  service users can lead as normal a life as possible,
                  maintaining dignity and surrounded by their personal
                  belongings.
                </p>
                <ul class="actions special">
                  <li><a href="/practical-support" class="button alt">Read More</a></li>
                </ul>
              </div>
              <div class="col-lg-4 text-center">
                
              </div>
            </div>
          </div>
          <!-- Complex Care -->
          <div class="tab-pane" id="palliative-care" role="tabpanel">
            <div class="row gy-4">
              <div class="col-lg-8 details">
                <h3>Complex Care</h3>
                <p>
                  Parherssia Care provides specialist care for individuals
                  requiring medium to long-term, continuing specialist or
                  substantial care due to a disability, a debilitating
                  mental health condition, medical complications, or chronic
                  illnesses such as Huntington’s Disease, Dementia, or
                  Cerebral Palsy. We are committed to supporting you with
                  quality home care, ensuring a healthy, happy life with
                  choice and independence. Our services include:
                </p>
                <p></p>
                <ul class="actions special">
                  <li><a href="/complex" class="button alt">Read More</a></li>
                </ul>
              </div>
              <div class="col-lg-4 text-center">
                

              </div>
            </div>
          </div>
          <!-- Palliative Care -->
          <div class="tab-pane" id="specialist-care" role="tabpanel">
            <div class="row gy-4">
              <div class="col-lg-8 details">
                <h3>Palliative Care</h3>
                <p>
                  At Parherssia Care, we provide compassionate end-of-life
                  care, ensuring a comfortable and dignified environment.
                  Our support includes medical staff, hospices, and other
                  professionals available whenever needed. Our care
                  assistants offer companionship and support to residents
                  and their families, providing a reassuring presence during
                  a challenging time. Our palliative care delivers:
                </p>

                <p></p>
                <ul class="actions special">
                  <li><a href="/palliative" class="button alt">Read More</a></li>
                </ul>
              </div>
              <div class="col-lg-4 text-center">

               
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>


    

    <!-- CTA -->
    <!--Contact Info divider-->
{% include 'base-service-content.html' %}

    <!--FAQs-->
    <section id="faq" class="faq section-bg">
      <div class="container">
        <div class="section-title text-center">
          <h2 class="blur-text">Frequently Asked Questions</h2>
          <p class="blur-text-p">
            If you've got questions, we may have answers
          </p>
        </div>

        <div class="faq-list mx-auto">
          <div class="accordion accordion-flush" id="accordionExample">
            <!-- Accordion Item 1 -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#faq-list-1">
                  Question 1 Title
                </button>
              </h2>
              <div id="faq-list-1" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">Answer to question 1.</div>
              </div>
            </div>

            <!-- Accordion Item 2 -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#faq-list-2">
                  Question 2 Title
                </button>
              </h2>
              <div id="faq-list-2" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">Answer to question 2.</div>
              </div>
            </div>

            <!-- Accordion Item 3 -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#faq-list-3">
                  Question 3 Title
                </button>
              </h2>
              <div id="faq-list-3" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">Answer to question 3.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br />
    </section>

    <!--MAP & Contact Us-->
{% include 'base-contact.html' %}

    {% endblock %}
  </div>
</body>