{% extends "base.html" %}


{% block content %}




<!-- Main -->
<section id="about-us-slideshow" class="container-fluid">
    <div class="container-fluid">
        <div class="row align-items-center service-inner-hero" style="background-color: #365486;">
            <!--Text-->
            <div class="col-lg-4 col-md-6 text-center  py-0 service-text-div">
                <h1 class="display-4 fw-bold lh-1 text-white blur-text">Respite-to-Care</h1>
                <p class="lead text-white blur-text-p">A Vital Support for Caregivers and Families</p>
                <div class="d-grid gap-2 d-md-flex justify-content-center  mb-4 mb-lg-3">
                    <a href="{{ url_for('contact_us') }}" class="btn btn-light btn-lg px-4 me-md-2 fw-bold servies-hero-btn">Contact
                        Us</a>
                    <a href="{{ url_for('get_jobs') }}" class="btn btn-outline-light btn-lg px-4 servies-hero-btn">Join Us</a>
                </div>
            </div>
            <div class="col-lg-8 col-md-6 p-0 pt-1 overflow-hidden services-hero-img">
                <img src="../static/images/portrait-disabled-senior-man-sitting-with-woman-nurse-nursing-home-looking-camera-retired-adult-wheelchair-getting-help-assistance-from-medical-assistant-facility.jpg" alt="" class="img-fluid">
            </div>
        </div>
    </div>


</section>

<section id="features-about-us" class="container-fluid mt-4">
    <!-- START THE FEATURETTES -->


    <div class="row featurette" id="personal-care-rm">
        <div class="col-md-12">
            <h2 class="featurette-heading fw-normal lh-1 service-heading text-center pt-3">
                Respite to Care<span class="text-body-secondary"></span></h2>
            <p class="lead service-par">
            <p class="lead">Respite-to-Care provides essential relief to family members and caregivers, offering them a temporary rest from
            caregiving duties while ensuring their loved ones continue to receive professional and compassionate care. This service
            is crucial for maintaining the well-being of both caregivers and those they care for, preventing caregiver burnout, and
            supporting the balance between caregiving responsibilities and personal time. Parherssia Care's Respite-to-Care services
            are designed to seamlessly integrate into the existing care routine, ensuring a smooth transition and peace of mind for
            families.</p>


        </div>

    </div>

    <hr class="featurette-divider">

<!--Who benefits-->
<div class="row featurette p-4" id="live-in-care-rm">
    <div class="col-md-7 order-md-2 p-0 service-heading">
        <h2 class="featurette-heading fw-normal lh-1 text-center text-md-start">Who Benefits from Respite-to-Care
            Services?</h2>
        <p class="lead">Respite-to-Care services by Parherssia Care are ideally suited for:</p>
        <ul>
            <li>Families and caregivers needing a temporary break to recharge or attend to personal matters.</li>
            <li>Those under long-term care who may benefit from a refreshing change of pace and new social interactions.
            </li>
            <li>Caregivers looking for flexible support accommodating short-term or occasional care needs.</li>
            <li>Individuals providing continuous, high-quality care who wish to ensure their loved ones are well-cared
                for in their absence.</li>
        </ul>
        <p class="lead">Our respite care is designed to offer a seamless transition of care, ensuring peace of mind for
            both caregivers and recipients by maintaining a high standard of personalized attention and companionship.
            Whether it’s for a few hours or several days, Parherssia Care’s respite services provide the necessary
            support to uphold the well-being of caregivers and those they care for.</p>
    </div>
    <div class="col-md-5 order-md-1">
        <img src="../static/images/medium-shot-nurse-man-posing.jpg"
            alt="" class="img-fluid service-image">
    </div>
</div>


    <hr class="featurette-divider">

<!--choose us hero-->
<section id="attributes" class="attributes pb-1 choose-us-hero">
    <div class="container">
        <div class="section-title text-center">
            <h2 class="blur-text">Why so many choose us?</h2>
        </div>
        <div class="row">
            <!--Row 1-->
            <div class="col-lg-4 text-center">
                <img src="../static/images/trained.svg" class="rounded-circle choose-us" width="200" height="180"
                    alt="" />

                <h2 class="fw-normal text-white">Trained Staff</h2>
                <p class="text-white">
                    Our staff are well trained, qualified and experienced in the
                    relevant fields that our clients require.
                </p>
            </div>

            <!-- Row 2-->
            <div class="col-lg-4 text-center">
                <img src="../static/images/personalised.svg" class="rounded-circle choose-us" width="200" height="180"
                    alt="" />

                <h2 class="fw-normal text-white">Personalised Care</h2>
                <p class="text-white">
                    We not only provide domiciliary staff, we provide bespoke care
                    plans to meet the unique needs of our clients.
                </p>
            </div>
            <!-- Row 3-->
            <div class="col-lg-4 text-center">
                <img src="../static/images/staff3.svg" class="rounded-circle choose-us" width="200" height="180"
                    alt="" />
                <h2 class="fw-normal text-white">On Call Service</h2>
                <p class="text-white">
                    Our coordination team are available anytime of the day or night to
                    provide support, even at weekends.
                </p>
            </div>
            <!-- /.col-lg-4 -->
        </div>
    </div>
</section>


<!--Contact Info divider-->
<div class="container-fluid contact-us-div text-white mb-4 p-4 p-5 call-to-action">
    <div class="d-flex flex-column flex-md-row justify-content-md-between align-items-center py-3 p-5">
        <div class="text-center text-md-start mb-3 mb-md-0 ">
            <h3 class="text-white blur-text contact-us-text">Speak To Our Team Today!</h3>

        </div>
        <div class="col-12 col-md-4 contact-buttons d-flex justify-content-center justify-content-md-end">
            <!-- TODO: Add phone number and Email-->

            <a class="btn  d-inline-flex align-items-center me-2 contact-btns" href="tel:+447478881797">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-telephone-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z" />
                </svg> Call
            </a>
            <a class="btn  d-inline-flex align-items-center me-2 contact-btns" href="mailto:tanaka.mush@gmail.com">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-envelope-fill" viewBox="0 0 16 16">
                    <path
                        d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414zM0 4.697v7.104l5.803-3.558zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586zm3.436-.586L16 11.801V4.697z" />
                </svg>
                Email
            </a>
            <button class="btn  d-inline-flex align-items-center contact-btns">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-journal-richtext" viewBox="0 0 16 16">
                    <path
                        d="M7.5 3.75a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0m-.861 1.542 1.33.886 1.854-1.855a.25.25 0 0 1 .289-.047L11 4.75V7a.5.5 0 0 1-.5.5h-5A.5.5 0 0 1 5 7v-.5s1.54-1.274 1.639-1.208M5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5" />
                    <path
                        d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2" />
                    <path
                        d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1z" />
                </svg>
                Brochure
            </button>
        </div>
    </div>
</div>

<!-- /END THE FEATURETTES -->

</div>

</section>

{% endblock %}